.form-container{
  padding: 20px;
  display: flex;
  width: 70%;
  justify-content: center;
  color: black;
  font-weight: bold;
  /*background-color: #325f6f;*/
  /*opacity: 0.8;*/
  /*background: radial-gradient(#325f6f 70%, #fe5e15 );*/
  border-radius: 50px;
  /*background: linear-gradient(0deg, #ffff , #325f6f 100%);*/
}
.login-form-container {
  padding: 40px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for the form */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
}
.container{
  justify-content: center;
  display: flex;
  padding: 20px;

  /*background: linear-gradient(0deg, #ffff , #325f6f 100%);*/

}
.profile-image{
  display: flex;
  justify-content: center;
  width: 30%;
}

.form{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.profile-details{
  display: flex;
  flex-direction: column;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  /*justify-content: space-between;*/
}
.name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.form-group-container{
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

p{
  margin:0 !important;
}
.error-text {
  color: red;
  font-size: 0.675rem;
  font-weight: normal;
  margin-top: 4px;
}

.login {
  width: 100vw;
  height: 100vh;
  /*background-image: url("./banner88.png");*/
  background-size: cover; /* Ensure the image covers the full screen */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  background-color: #325f6f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.submit-button:hover {
  background-color: #2a4d5b;
}

@media (max-width: 768px) {
  .name{
    flex-direction: column;
  }

}

button{
  text-transform: none;
}